<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='{{ url_for('static', filename='styles.css') }}'>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class= 'container'>
            <div class='nav_bar'>
                <a class='nav_links' href={{url_for('home')}} >Probabilty Cone</a>
                <a class='nav_links'href={{url_for('chart')}} >Charts</a>
                <a class='nav_links' href={{url_for('home')}} >Options graph</a>
                <div class=symbol>{{ticker}}</div>
                <div class='quotes_container'>
                    <div class='quotes' id='current_price'>
                        <div class='quote_labels'>Price</div>
                        <div>{{quotes[0]}}</div>
                    </div>
                    <div class='quotes' id='bid'>
                        <div class='quote_labels'>Bid</div>
                        <div>{{quotes[1]}}</div>
                    </div>
                    <div class='quotes' id='ask'>
                        <div class='quote_labels'>Ask</div>
                        <div>{{quotes[2]}}</div>
                    </div>
                    <div class='quotes' id='net_change'>
                        <div class='quote_labels'>% change</div>
                        <div>{{quotes[3]}}</div>
                    </div>
                    <div class='quotes' id='open_price'>
                        <div class='quote_labels'>Open</div>
                        <div>{{quotes[4]}}</div>
                    </div>
                    <div class='quotes' id='high_price'>
                        <div class='quote_labels'>high</div>
                        <div>{{quotes[5]}}</div>
                    </div>
                    <div class='quotes' id='low_price'>
                        <div class='quote_labels'>Low</div>
                        <div>{{quotes[6]}}</div>
                    </div>
                    <div class='quotes' id='close_price'>
                        <div class='quote_labels'>Close</div>
                        <div>{{quotes[7]}}</div>
                    </div>
                    <div class='quotes' id='total_volume'>
                        <div class='quote_labels'>Volume</div>
                        <div>{{quotes[8]}}</div>
                    </div>
                    <div class='quotes' id='week_high'>
                        <div class='quote_labels'>52WeekHigh</div>
                        <div>{{quotes[9]}}</div>
                    </div>
                    <div class='quotes' id='week_low'>
                        <div class='quote_labels'>52WeekLow</div>
                        <div>{{quotes[10]}}</div>
                    </div>
                </div>
                <!--<script type='text/javascript'>
                    window.setInterval(function(){
                        $("#bid").load('/ticker');

                    }, 5000)
                </script>-->
            </div>
            <div class='main'>
                <div class='side_panel'>
                    <h1 id='title_sidepanel' >Options Probability Cone<!--{{dn}}--></h1>
                    <div class='inputs_container'>
                        <form action='/ticker' method='POST'>
                            <div class='text_input'>
                                <label for='ticker' id='enter'>Enter Ticker</label><br>
                                <input type='text' id='ticker' name='tick' value={{ticker}} required><br>
                                <!--<button type='submit'>Submit</button>-->
                            </div>
                            <div class='radio_input_container'>
                                <div class='radio_left'>
                                    <p id='standard_dev'>Standard Deviation</p>  
                                    <!--<button type= 'submit'>Submit</button>-->
                                </div>
                                <div class='radio_right'>
                                    <div class='radio_styling'>
                                        <input type='radio' name='options' id='1sigma' value='None' checked>
                                        <label for= '1sigma'>σ</label>
                                    </div>
                                    <div class='radio_styling'>
                                        <input type='radio' name='options' id='2sigma' value='2'>
                                        <label for= '2sigma'>2σ</label>
                                    </div>
                                    <div class='radio_styling'>
                                        <input type='radio' name='options' id='3sigma' value='3'>
                                        <label for= '3sigma'>3σ</label>
                                    </div>
                                    <button type= 'submit' id='submit_button' >Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class='table_container'>
                        <table class='table'>
                            <tr class='table_header'>
                                {% for header in table_headers %}
                                <th class='table_cell'>{{ header }}</th>
                                {% endfor %}
                            </tr>
                            {% for row in table_list %}
                            <tr class='table_row'>
                                {% for cell in row %}
                                <td class='table_cell'>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class='chart'>
                    <canvas id='lineChart' width='1520px' height='840px'></canvas>
                    <script>
                        var ctx = document.getElementById('lineChart').getContext('2d');
                        var lineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: {{ labels | safe }},
                                datasets: [
                                    {
                                        label: '1 stdv higher',
                                        data: {{ values | safe}},
                                        fill: false,
                                        borderColor: 'rgb(75, 192, 192)',
                                        lineTension: 0.1
                                    },
                                    {
                                        label: '1 stdv lower',
                                        data: {{ values_2 | safe}},
                                        fill: false,
                                        borderColor: 'rgb(75, 192, 192)',
                                        lineTension: 0.1
                                    }
                                ]
                            },
                            options: {
                                responsive: false
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>